{% extends "base.html" %}

{% block title %}Subejct Dashboard{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subject/list_for_attendance.css') }}">
{% endblock %}


{% block navbar %}
    <div class="logo">Attendance System</div>
    <nav>
    <a href="{{ url_for('instructor_profile') }}">Edit profile</a>
    <a href="/logout">Logout</a>
    </nav>
{% endblock navbar %}


{% block content %}

    <div class="container">
        <h2>Welcome, Instructor!</h2>
        <h3>Logged in as {{ instructor_email }}</h3>
        <p>We're glad to have you on board.</p>

       

        <table id="subjectsTable">
            <thead>
                <tr class="search-inputs">
                    <th><input type="text" onkeyup="filterTable(0)" placeholder="Search Subject Info"></th>
                    <th><input type="text" onkeyup="filterTable(1)" placeholder="Search Start Time"></th>
                    <th><input type="text" onkeyup="filterTable(2)" placeholder="Search End Time"></th>
                    <th><input type="text" onkeyup="filterTable(3)" placeholder="Search Duration"></th>
                    <th><input type="text" onkeyup="filterTable(4)" placeholder="Search Students"></th>
                    <th></th>
                    <th>
                        <a href="{{ url_for('edit_or_add_subjects') }}">
                            <button class="styled-button">Edit/Add Subjects</button>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Subject Info</th>
                    <th>Start Time (hh:mm)</th>
                    <th>End Time (hh:mm)</th>
                    <th>Duration (hh:mm)</th>
                    <th>Enrolled Students</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td data-label="Subject Info">
                        <strong>{{ subject.subject_code }}</strong> - {{ subject.course_level }}{{ subject.section }}<br>
                    </td>
                    <td data-label="Start Time">{{ subject.start_time }}</td>
                    <td data-label="End Time">{{ subject.end_time }}</td>
                    <td data-label="Duration">{{ subject.duration_time }}</td>
                    <td data-label="Enrolled students">
                        <span>
                            <a href="{{ url_for('subject_students', subject_id=subject.id) }}">View Enrolled {% if subject.student_count %}({{ subject.student_count }}){% endif %}</a> <br>
                            <a href="{{ url_for('subject_requests', subject_id=subject.id) }}">View Requesting {% if subject.pending_count %}({{ subject.pending_count }}){% endif %}</a>
                        </span>
                    </td>
                    <td data-label="Action">
                        {% if subject.is_active_now %}
                            <a href="{{ url_for('subject_attendance_board', subject_id=subject.id) }}" class="btn">Take Attendance</a>
                        {% else %}
                            <button class="btn" disabled style="background-color: gray; cursor: not-allowed;" title="Not within class time">Take Attendance</button>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('view_subject_attendance', subject_id=subject.id) }}">View Attendance</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div style="text-align: center;">
      <br><a href="#" class="clickable-link">Back to top</a>
    </div>



    <script>
        function filterTable(colIndex) {
            let input, filter, table, tr, td, i, txtValue;
            table = document.getElementById("subjectsTable");
            input = table.getElementsByTagName("input")[colIndex];
            filter = input.value.toUpperCase();
            tr = table.getElementsByTagName("tr");

            for (i = 2; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[colIndex];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }
    </script>
{% endblock %}
