{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instructor/profile.css') }}">
{% endblock %}

{% block navbar %}
    <nav>
    <a href="/">Home</a>
    <a href="{{ url_for('instructor_profile') }}">Edit Profile</a>
    <a href="/logout">Logout</a>
    </nav>
{% endblock navbar %}

{% block content %}
  <div class="container">
    <h2>Edit Profile</h2>

    <form method="POST" action="/edit_instructor_profile">
      <label>Email (username)*:</label>
      <input type="email" value="{{ instructor.email }}" disabled>

      <label>Registered Fingerprint ID:</label>
      <input type="text" name="registered_fingerprint_ID" value="{{ instructor.registered_fingerprint_ID or '' }}">

      <button type="submit">Save Changes</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="message">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
{% endblock content %}
