{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instructor/profile.css') }}">
{% endblock %}

{% block navbar %}
    <nav>
    <a href="/">Home</a>
    <a href="{{ url_for('instructor_profile') }}">Edit Profile</a>
    <a href="/logout">Logout</a>
    </nav>
{% endblock navbar %}

{% block content %}
  <div class="container">
    <h2>Edit Profile</h2>

    <form method="POST" action="/edit_instructor_profile">
      <label>Email (username)*:</label>
      <input type="email" value="{{ instructor.email }}" disabled />

      <hr />

      <h3>Change Password</h3>

      <label for="current_password">Current Password*:</label>
      <input type="password" id="current_password" name="current_password" required />

      <label for="new_password">New Password*:</label>
      <input type="password" id="new_password" name="new_password" required />

      <label for="confirm_new_password">Confirm New Password*:</label>
      <input type="password" id="confirm_new_password" name="confirm_new_password" required />

      <button type="submit">Save Changes</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="message">
          {% for category, message in messages %}
            <p class="alert alert-{{ category }}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
