<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block head %}{% endblock %}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/tab_icon.png') }}">
</head>

<body>
  <header class="site-header">
    {% block navbar %}
      <div class="logo">Attendance System</div>
      <nav>
      <a href="{{ url_for('about') }}">About</a>
      </nav>
    {% endblock navbar %}
  </header>



  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <p>&copy; {{ now.year }} Attendance System</p>
  </footer>
</body>
</html>
